.slick-prev:before,
.slick-next:before {
    color: gray !important;
    font-size: 3rem !important;
}
.slick-prev {
    left: -50px !important;
}
.width-item {
    width: 100% !important;
}
.non_active_Film {
    @apply bg-gray-800 text-white;
}

.active_Film {
    @apply bg-white text-pink-400;
}

.heightSlider {
    height: 745px;
}

@media screen and (max-width: 768px) {
    .heightSlider {
        height: 465px;
    }
    .slick-prev {
        font-size: 2rem !important;
    }
}

@media screen and (max-width: 576px) {
    .heightSlider {
        height: 320px;
    }
    .slick-prev {
        font-size: 2rem !important;
    }
}

@media screen and (max-width: 414px) {
    .heightSlider {
        height: 300px;
    }
    .slick-prev {
        font-size: 1.5rem !important;
    }
}

