.ghe { /* ghế thường */
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    background-color: #f0f0f0;
    color: #000;
  }

.gheDangDat {
    background-color: #b7eb8f !important; 
    color: #000;
    
  }

.gheVip {
    background-color: #87e8de;
    color: #000;
  }

.gheDaDat {
    background-color: #91d5ff;
    color: #000;
    cursor: no-drop;
  }
  
.gheDaDuocDat { /* ghe nay do minh dat */
    background-color: #d3adf7;
    color: #000;
    /* border: 1px solid rgba(#9254de);
    box-shadow: -1px 2px 18px 6px;
    -webkit-box-shadow: -1px 2px 18px 6px; */
  }

.gheKhachDat {
    background-color: #ffadd2;
    color: #000;
    cursor: no-drop;
  }